raw_data/*
rnaseq_pipeline/logs/*
rnaseq_pipeline/report/*
rnaseq_pipeline/results/*
rnaseq_pipeline/.snakemake/*
rnaseq_pipeline/env-rnaseq/*
post_processing/r_objects/*
post_processing/livrables/*
post_processing/databases/*